.container {
    width: 100%;
    padding: 0px 96px;
    margin: 0 auto;
    max-width: 1480px;
}

.header__container {
    width: 100%;
    padding: 0px 96px;
    margin: 0 auto;
    max-width: 1480px;
}
    
.footer__container {
    width: 100%;
    padding: 0px 96px;
    margin: 0 auto;
    max-width: 1480px;
}