$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;
// Name Colors

// RGB Colors

// HEX Colors

$regester-bg-color: #079A77;
$text-color:#FFFFFF;
$lang-btn: #025140;
$black-text:#141414;
$p-text:#1C2E3F;
$partners-card-bg:#E0F5F1;
$box-bg-color:#F8F8F8;
$passes-btn:#E1E8F0;