@use '../../base/mixins' as *;
@use '../../base/variables' as *;

.footer {
    background: linear-gradient(0deg, #0C4132, #0C4132),
        linear-gradient(245.62deg, #025140 35.45%, #141414 205.86%);
    border-top-left-radius: 72px;
    border-top-right-radius: 72px;

    &__navbar {
        border-bottom: 1px solid $text-color;
    }


    &__content {
        padding: 45px 0;
        @include flexLayout(flex, space-between, center, 0, row nowrap);

        @include md {
            position: relative;
        }

        @include sm {
            font-size: 13px;
            padding: 12px;
        }
    }

    &__phone {
        margin-left: 20px;
        @include flexLayout(flex, flex-start, center, 12px, row nowrap);

        @include md {
            position: absolute;
            margin-top: 250px;
            left: -20px;

        }

        &-icon {
            width: 25px;
            height: 25px;
        }

        &-number {
            @include flexLayout(flex, space-between, center, 5px, row wrap);

            @include md {
                flex-direction: column;
                align-items: flex-start;
            }

            &-title {
                font-family: Poppins;
                letter-spacing: -2%;
                @include headingFonts($regester-bg-color, 18px, 500, 108%, none);

            }

            &-text {
                font-family: Poppins;
                letter-spacing: -2%;
                @include headingFonts($text-color, 18px, 500, 108%, none);
            }
        }
    }

    &__info {
        padding: 32px 0 50px 0;
        @include flexLayout(flex, space-between, center, 0, row nowrap);

        @include md {
            margin-top: 30px;
            // margin-bottom: ;
        }

        &-year {
            font-family: Poppins;
            letter-spacing: 0%;
            opacity: .7;
            @include headingFonts($text-color, 16px, 400, 128%, none);

            @include md {
                position: absolute;
                bottom: -30px;
                font-size: 14px;
            }

            @include sm {
                font-size: 13px
            }
        }
    }

    &__address {
        @include flexLayout(flex, flex-start, center, 12px, row nowrap);


        &-icon {
            width: 25px;
            height: 25px;
        }

        &-info {
            @include flexLayout(flex, space-between, center, 5px, row wrap);

            &-title {
                font-family: Poppins;
                letter-spacing: -2%;
                @include headingFonts($regester-bg-color, 18px, 500, 108%, none);
            }

            &-text {
                font-family: Poppins;
                letter-spacing: -2%;
                @include headingFonts($text-color, 18px, 500, 108%, none);
            }
        }
    }
}