@use '../../base/mixins' as *;
@use '../../base/variables' as *;

.footer {
    background: linear-gradient(0deg, #0C4132, #0C4132),
        linear-gradient(245.62deg, #025140 35.45%, #141414 205.86%);
    border-top-left-radius: 72px;
    border-top-right-radius: 72px;

    &__navbar {
        border-bottom: 1px solid $text-color;
    }


    &__content {
        padding: 45px 0;
        @include flexLayout(flex, space-between, center, 0, row nowrap);
    }

    &__phone {
        margin-left: 20px;
        @include flexLayout(flex, flex-start, center, 12px, row nowrap);

        &-icon {
            width: 25px;
            height: 25px;
        }

        &-number {
            @include flexLayout(flex, space-between, center, 5px, row wrap);

            &-title {
                font-family: Poppins;
                letter-spacing: -2%;
                @include headingFonts($regester-bg-color, 18px, 500, 108%, none);

            }

            &-text {
                font-family: Poppins;
                letter-spacing: -2%;
                @include headingFonts($text-color, 18px, 500, 108%, none);
            }
        }
    }

    &__info {
        padding: 32px 0 50px 0;
        @include flexLayout(flex, space-between, center, 0, row nowrap);

        &-year {
            font-family: Poppins;
            letter-spacing: 0%;
            opacity: .7;
            @include headingFonts($text-color, 16px, 400, 128%, none);
        }
    }

    &__address {
        @include flexLayout(flex, flex-start, center, 12px, row nowrap);

        &-icon {
            width: 25px;
            height: 25px;
        }

        &-info {
            @include flexLayout(flex, space-between, center, 5px, row wrap);

            &-title {
                font-family: Poppins;
                letter-spacing: -2%;
                @include headingFonts($regester-bg-color, 18px, 500, 108%, none);
            }

            &-text {
                font-family: Poppins;
                letter-spacing: -2%;
                @include headingFonts($text-color, 18px, 500, 108%, none);
            }
        }
    }
}