@use '../../base/mixins' as *;
@use '../../base/variables' as *;

.footer {
    background: linear-gradient(200.69deg, #025140 21.31%, #141414 135.21%);
    border-top-left-radius: 72px;
    border-top-right-radius: 72px;

    &__primary {
        display: block;

        @include lg {
            display: none;
        }
    }

    &__navbar {
        border-bottom: 1px solid #ffffff40;
    }


    &__content {
        padding: 45px 0;
        @include flexLayout(flex, space-between, center, 0, row nowrap);
    }

    &__phone {
        @include flexLayout(flex, flex-start, center, 12px, row nowrap);

        &-icon {
            width: 25px;
            height: 25px;
        }

        &-number {
            @include flexLayout(flex, space-between, center, 5px, row wrap);

            @include md {
                flex-direction: column;
                align-items: flex-start;
            }

            &-title {
                font-family: Poppins;
                letter-spacing: -2%;
                @include headingFonts($regester-bg-color, 18px, 500, 108%, none);

                @include sm {
                    font-size: 12px;
                }
            }

            &-text {
                font-family: Poppins;
                letter-spacing: -2%;
                @include headingFonts($text-color, 18px, 500, 108%, none);

                @include sm {
                    font-size: 16px;
                }
            }
        }
    }

    &__info {
        padding: 32px 0 50px 0;
        @include flexLayout(flex, space-between, center, 0, row nowrap);

        &-year {
            font-family: Poppins;
            letter-spacing: 0%;
            opacity: .7;
            @include headingFonts($text-color, 16px, 400, 128%, none);

            @include sm {
                font-size: 12px;
            }
        }
    }

    &__address {
        @include flexLayout(flex, flex-start, center, 12px, row nowrap);


        &-icon {
            width: 25px;
            height: 25px;
        }

        &-info {
            @include flexLayout(flex, space-between, center, 5px, row wrap);

            @include md {
                flex-direction: column;
                align-items: flex-start;
            }

            &-title {
                font-family: Poppins;
                letter-spacing: -2%;
                @include headingFonts($regester-bg-color, 18px, 500, 108%, none);

                @include sm {
                    font-size: 12px;
                }
            }

            &-text {
                font-family: Poppins;
                letter-spacing: -2%;
                @include headingFonts($text-color, 18px, 500, 108%, none);

                @include sm {
                    font-size: 16px;
                }
            }
        }
    }
}

// *** FOOTER SECONDARY ***
.footer__secondary {
    display: none;

    @include lg {
        display: block;
    }

    &-content {
        padding: 48px 0;
        @include flexLayout(flex, flex-start, flex-start, 48px, column nowrap);

        @include md {
            gap: 38px;
            padding: 38px 0;
        }
    }

    &-logo {
        border-bottom: 1px solid #ffffff40;
        padding: 38px 0;

        @include sm {
            padding: 30px 0;
        }
    }
}

.footer-nav {
    z-index: 9;

    &__list {
        @include flexLayout(flex, flex-start, center, 56px, row nowrap)
    }

    &__item {
        position: relative;
        transition: transform 350ms ease;

        &:hover {
            color: $regester-bg-color;
            transform: scale(1.1);
        }

        &-link {
            font-family: Poppins;
            letter-spacing: -2%;
            text-align: center;
            transition: transform 350ms ease;
            @include headingFonts($text-color, 18px, 400, 112.00000000000001%, capitalize);

            @include md {
                font-size: 16px;
            }
            @include sm {
                font-size: 14px;
            }
        }



        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 0%;
            height: 2px;
            bottom: -7px;
            transition: width 150ms linear;
            background-color: $regester-bg-color;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}