@use '../../base/mixins' as *;
@use '../../base/variables' as *;

.site__logo {
    cursor: pointer;
    @include flexLayout(flex, flex-start, center, 11px, row nowrap);

    @include lg {
        width: 300px;
    }

    @include sm {
        width: 220px;
    }

    &-img {
        z-index: 99999999;
        width: 48px;
        height: 48px;

        @include defaultMediaQuery(411px) {
            width: 36px;
            height: 36px;
        }
    }

    &-text {
        z-index: 99999999;
        width: 300px;
        font-family: Poppins;
        letter-spacing: -2%;
        @include headingFonts($text-color, 16px, 500, 128%, capitalize);

        @include sm {
            font-size: 14px;
        }

        @include defaultMediaQuery(411px) {
            font-size: 12px;
            width: 145px;
        }
    }
}