@use '../../base/mixins' as *;
@use '../../base/variables' as *;

.register {
    padding: 100px 0;
    @include flexLayout(flex, center, center, 0, column nowrap);

    @include sm {
        padding: 50px 0 0 0;
    }

    &-title {
        font-family: Poltawski Nowy;
        letter-spacing: -2%;
        margin-bottom: 32px;
        @include headingFonts($black-text, 48px, 500, 112.00000000000001%, capitalize);

        @include defaultMediaQuery(1135px) {
            font-size: 44px;
        }

        @include lg {
            font-size: 40px;
        }

        @include md {
            font-size: 38px;
        }

        @include sm {
            font-size: 32px;
        }

        @include defaultMediaQuery(411px) {
            width: 100%;
            font-size: 30px;
            text-align: center;
        }
    }

    &-buttons {
        margin-bottom: 56px;
        @include flexLayout(flex, space-between, center, 12px, row nowrap)
    }

    &-btn {
        font-family: Poppins;
        letter-spacing: -4%;
        // border: 2px solid $passes-btn;
        @include headingFonts($black-text, 22px, 500, 156%, none);
        @include Button($text-color, 1px solid $passes-btn, 14px, 12px 32px);

        @include lg {
            font-size: 20px;
        }

        @include md {
            font-size: 18px;
        }

        @include sm {
            font-size: 14px;
        }

        @include defaultMediaQuery(411px) {
            font-size: 10px;
        }

        &.active {
            color: $text-color;
            background-color: $regester-bg-color;
            border: 1px solid $passes-btn;
        }
    }


    &-content {
        display: none;

        &.active {
            display: block;
        }

        &-first {
            width: 500px;
            border-radius: 12px;
            overflow: hidden;
            @include flexLayout(flex, center, center, 0, column nowrap);

            @include lg {
                width: 400px;
            }

            @include sm {
                width: 350px;
            }

            @include defaultMediaQuery(411px) {
                width: 320px;
            }

            &-title {
                font-family: Poppins;
                width: 100%;
                padding: 20px;
                text-align: center;
                letter-spacing: -2%;
                border-top-left-radius: 32px;
                border-top-right-radius: 32px;
                background-color: #09be94;
                @include headingFonts($text-color, 22px, 500, 156%, none);

                @include lg {
                    font-size: 20px;
                }

                @include defaultMediaQuery(411px) {
                    font-size: 18px;
                }
            }

            &-register {
                position: relative;
                width: 100%;
                height: 150px;
                border-bottom-left-radius: 32px;
                border-bottom-right-radius: 32px;
                background-color: $regester-bg-color;

                @include flexLayout(flex, center, center, 0, column nowrap);

                &::before {
                    background-image: url(../../../assets/images/png/x.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    content: "";
                    height: 140px;
                    left: 50%;
                    opacity: .1;
                    position: absolute;
                    top: 35px;
                    transform: translateX(-50%) rotate(135deg);
                    width: 140px;
                }

                &-btn {
                    @include Button(#058c6c, 1px solid #058c6c, 12px, 12px 32px);
                    @include headingFonts($text-color, 18px, 500, 156%, none);
                    transition: 350ms ease;
                    z-index: 2;

                    &:hover {
                        background-color: white;
                        color: $regester-bg-color;
                    }

                    @include lg {
                        font-size: 16px;
                    }
                }
            }




        }

        &-second {
            padding: 40px;
            border-radius: 40px;
            box-shadow: 0px 0px 20px 0px #0129700F;
            display: flex;
            gap: 40px;
            align-items: stretch; // <-- BU MUHIM: balandliklarni tenglashtiradi
            flex-direction: row;

            @include md {
                flex-direction: column;
                align-items: flex-start;
                padding: 24px;
            }
        }

        &-info {
            width: 48%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 32px;

            @include defaultMediaQuery(411px) {
                gap: 24px;
            }

            &-title {
                font-family: Poltawski Nowy;
                letter-spacing: -2%;
                @include headingFonts($black-text, 32px, 500, 112%, none);

                @include defaultMediaQuery(411px) {
                    font-size: 24px;
                    text-align: center;
                }
            }

            &-text {
                font-family: Poppins;
                letter-spacing: -2%;
                @include headingFonts($p-text, 16px, 400, 156%, none);

                @include defaultMediaQuery(411px) {
                    font-size: 14px;
                    text-align: center;
                }
            }

            &-btn {
                width: 48%;
                font-family: Poppins;
                letter-spacing: -4%;
                text-align: center;
                @include headingFonts($text-color, 18px, 500, 112%, capitalize);
                @include Button($regester-bg-color, 1px solid $regester-bg-color, 14px, 22px 32px);

                &:hover {
                    background-color: $lang-btn;
                }

                @include defaultMediaQuery(411px) {
                    width: 100%;
                }
            }

            @include md {
                width: 100%;
            }
        }

        &-image {
            width: 49%;
            height: auto; // or inherit
            display: flex;

            @include md {
                width: 100%;
                height: 300px;
            }
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 40px;
        }

    }
}