@use '../../sass/base/mixins' as *;
@use '../../sass/base/variables' as *;

.participants-hero {
    height: 368px;
    @include flexLayout(flex, center, center, 0, column nowrap);

    &__title {
        font-family: Poltawski Nowy;
        letter-spacing: -2%;
        text-align: center;
        @include headingFonts($text-color, 64px, 500, 112.00000000000001%, capitalize);

        @include lg {
            font-size: 60px;
        }

        @include md {
            font-size: 54px;
        }

        @include md {
            font-size: 44px;
        }

        @include defaultMediaQuery(360px) {
            font-size: 40px;
        }
    }
}

// PARTICIPANTS CONTENTS
.participants {
    overflow: hidden;
    padding: 72px 0;
    background-color: $text-color;
    border-radius: 72px;

    &__buttons {
        margin-bottom: 56px;
        @include flexLayout(flex, center, center, 12px, row nowrap);

        @include md {
            flex-direction: column;
        }
    }

    &__button {
        font-family: Poppins;
        letter-spacing: -4%;
        @include headingFonts($black-text, 22px, 500, 156%, capitalize);
        @include Button($text-color, 1px solid $passes-btn, 14px, 12px 32px);

        @include md {
            width: 100%;
            font-size: 18px;
        }

        @include sm {
            font-size: 16px;
        }

        @include defaultMediaQuery(360px) {
            font-size: 12px;
        }

        &.active {
            color: $text-color;
            background-color: $regester-bg-color;
            border: 1px solid $passes-btn;
        }
    }

    &-content {
        display: none;

        &.active {
            display: block;
        }

        &__cards {
            margin-bottom: 12px;
            @include gridLayout(grid, 4, 12px);

            @include defaultMediaQuery(1135px) {
                @include gridLayout(grid, 3, 12px);
            }

            @include md {
                @include flexLayout(flex, space-between, center, 12px, row wrap);
            }
        }

        // ** COMPANIES **
        &__companies {
            &-cards {
                margin-bottom: 12px;
                @include gridLayout(grid, 4, 12px);

                @include lg {
                    @include gridLayout(grid, 3, 12px);

                }

                @include md {
                    @include gridLayout(grid, 2, 12px);

                }

                @include sm {
                    @include gridLayout(grid, 1, 12px);

                }
            }

            &-card {
                max-height: 168px;
                border-radius: 24px;
                border: 1px solid $passes-btn;

                &-img {
                    border-radius: 24px;
                    object-fit: cover;
                    border-radius: 24px;
                }
            }
        }


        //  ** SPEAKERS **
        &__speakers {
            &-cards {
                @include gridLayout(grid, 4, 16px);

                @include lg {
                    @include gridLayout(grid, 3, 12px);

                }

                @include md {
                    @include gridLayout(grid, 2, 12px);

                }

                @include sm {
                    @include gridLayout(grid, 1, 12px);

                }
            }

            &-card {
                background-color: #fff;
                @include flexLayout(flex, flex-start, flex-start, 0, column nowrap);

                &-img {
                    max-height: 340px;
                    object-fit: cover;
                    border-radius: 24px;
                }

                &-user {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    // width: 300px;
                    padding: 24px 16px;
                    border-radius: 24px;
                    border: 1px solid $passes-btn;

                    &-name {
                        font-family: Poppins;
                        letter-spacing: -4%;
                        @include headingFonts($black-text, 24px, 500, 128%, capitalize)
                    }

                    &-position {
                        margin-top: 10px;
                        font-family: Poppins;
                        letter-spacing: -2%;
                        margin-bottom: 15px;
                        border-bottom: 1px solid #A8BACB;
                        min-height: 70px;
                        max-height: auto;
                        @include headingFonts($regester-bg-color, 14px, 500, 132%, inset)
                    }

                    &-info {
                        font-family: Poppins;
                        letter-spacing: -2%;
                        @include headingFonts($p-text, 14px, 400, 156%, none)
                    }
                }
            }
        }
    }
}